/* Common file */
:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --all-text-color: #757575;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --contacts-bottom-color: #8f8f94;
  --footer-background-color: #2f303a;
  --our-team-color: #f5f4fa;
}
body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  /* letter-spacing: 0.02em;
  letter-spacing: 0.06em; */
}

/* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

/* Общее для кнопок */

button {
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  border-radius: 4px;
  border: none;
}
/* Класс кнопка для студия */
.btn-studio {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  /* margin-top: 30px; */
}
.section-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Styles for index.html */

/* Header */

.header-portfolio {
  border-bottom: 1px solid #ececec;
}
.header-top {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
/* Logo styles */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo .logo-blue {
  color: var(--accent-color);
}
.logo .logo-black {
  color: var(--primary-black-color);
}
.logo .logo-white {
  color: var(--primary-white-color);
}
/* Navigation */

.navigation-list {
  display: flex;
  margin-left: 93px;
}

.navigation-list .item {
  margin-right: 50px;
  position: relative;
  /* background-color: tomato; */
}
.navigation-list .item:last-child {
  margin-right: 0;
}

.navigation-list .nav-items {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list .nav-items:hover,
.navigation-list .nav-items:focus {
  color: var(--accent-color);
}
.navigation-list .nav-items.current {
  color: var(--accent-color);
}
.nav-items::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  position: absolute;
  bottom: 0;
  right: 0;
}

.current::after {
  width: 100%;
}
/* Contacts Email tel Top */

.icon-top-contacts {
  fill: #757575;
  width: 16px;
  height: 10px;
  margin-right: 10px;

  /* transition: fill 2000ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.contacts-top {
  display: flex;
  margin-left: auto;
}
.contacts-top .item + .item {
  margin-left: 50px;
}
.contacts-top .top-items {
  display: flex;
  color: var(--all-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  align-items: center;

  /* transition: color 2000ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.top-items:hover,
.top-items:focus,
.icon-top-contacts:hover,
.icon-top-contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.top-items:hover .icon-top-contacts,
.top-items:focus .icon-top-contacts {
  fill: var(--accent-color);
}
/* .top-items:hover .icon-top-contacts,
.top-items:focus .icon-top-contacts {
  fill: var(--accent-color);
} */
/* .contacts-top .top-items::before {
  display: block;
  content: "";
  background-image: url('../images/svg/sprite.svg#letter');
  border-radius: 1px solid tomato;
  width: 16px;
  height: 1px;
  background-color: tomato;
} */
/* Main content */

.banner-section {
  background-color: var(--footer-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero.jpg");
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  align-items: center;
  /* padding-top: 200px; */

  /* padding: 0; */
  margin: 0;
  margin-bottom: 30px;
}

/* Engage section */

.engage-icon-section {
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.engage-vector-icon {
  width: 70px;
  height: 70px;
}

.engage-section {
  display: flex;
}
.engage-section .item + .item {
  margin-left: 30px;
}
.title-engage {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.engage-text {
  color: var(--all-text-color);
  font-size: 14px;
  line-height: 1.71;
}
.collecting-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
/* Image title */

.img-item {
  display: flex;
  margin-top: 50px;
  margin-bottom: 94px;
}
.img-item .item + .item {
  margin-left: 30px;
}

.img-item-window {
  position: relative;
}

.window-text-img-section {
  padding: 27px 0;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  width: 100%;

  position: absolute;
  bottom: 0;
}
.window-text-img {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
/* Our team */
.our-squad,
.our-team {
  background-color: var(--our-team-color);
}
.our-squad-container {
  padding-bottom: 94px;
}
.our-team {
  display: flex;
  margin-top: 50px;
}
.our-team .item {
  /* border: 1px solid F5F4FA;
  background-color: var(--primary-white-color); */
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team .item + .item {
  margin-left: 30px;
}

.team-section-bottom {
  padding: 30px 32px;
}
.full-name-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.profession-team {
  color: var(--all-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social-link-list {
  display: flex;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  /* transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.social-link-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: var(--primary-white-color);
}

.social-link:hover,
.social-link:focus {
  background: #2196f3;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

/* background: #2196F3;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

/* Постоянные клиенты */

.regular-client {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.regular-client-item {
  width: calc(100% / 6 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.regular-client-link {
  display: flex;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;

  transition: all 2ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-client-icon {
  fill: #afb1b8;

  transition: all 2ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-client-link:hover,
.regular-client-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.regular-client-link:hover .regular-client-icon,
.regular-client-link:focus .regular-client-icon {
  fill: var(--accent-color);
}
/* .test {
  width: 44px;
  height: 44px;
} */

/* Footer */

.footer {
  background-color: var(--footer-background-color);
}
.footer-container-adress {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  justify-content: space-between;
}
.footer-container-adress .logo {
  display: block;
  margin-bottom: 30px;
}

.footer-address {
  color: var(--primary-white-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  margin-bottom: 9px;
}

.contact-bottom .bottom-item {
  color: var(--contacts-bottom-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.contact-bottom .bottom-item:hover,
.contact-bottom .bottom-item:focus {
  color: var(--accent-color);
}
.contact-bottom .item + .item {
  margin-top: 9px;
}

/* Social link footer */

.social-link-footer {
  display: flex;
}

/* .social-link-footer-section {
  margin-left: 70px;
} */
.title-footer-social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);

  margin-bottom: 20px;
}

.social-link-list-footer {
  display: flex;
}
.social-link-footer {
  display: flex;
  width: 44px;
  height: 44px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
}
.social-item-footer + .social-item-footer {
  margin-left: 10px;
}
.social-link-icon-footer {
  width: 20px;
  height: 20px;
  /* fill: #afb1b8; */
  fill: var(--primary-white-color);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background: #2196f3;
}

/* Input and twitter */

.footer-form-section-input {
  display: flex;
}

.footer-form-input {
  width: 358px;

  padding: 13px 29px;

  background-color: inherit;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input-img-tw {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  padding: 13px 29px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  margin-left: 12px;

  /* justify-items: center;
  align-content: center; */
}

.footer-input-tw {
  display: block;
  margin-left: 10px;
}
/* Styles for portfolio.html */

/* Класс кнопка для портфолио */

.btn-portfolio {
  color: var(--title-text-color);
  background-color: var(--our-team-color);

  padding: 6px 22px;
}
.btn-portfolio:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.btn-flex {
  padding-top: 94px;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.btn-flex .item + .item {
  margin-left: 8px;
}

/* .title-portfolio {
  text-align: center;
} */

/* Our work section */

.best-work {
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 94px;

  margin-left: -30px;
  margin-top: -30px;
}

.container-title-text {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}
.best-work .item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
/* .best-work .item:nth-child(3n) {
  margin-right: 0;
}
.best-work .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.best-work-link {
  position: relative;
}
.best-work-link:hover,
.best-work-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-work-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.our-work-text {
  color: var(--all-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.pop-up-window {
  position: absolute;
  width: 370px;
  height: 294px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 64px 24px;

  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateY(100%);
}

.best-work-item:hover .pop-up-window {
  transform: translateY(-100%);
}

.pop-up-window-section {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

/* Modal and close btn */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  /* height: 581px; */

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  position: absolute;
  top: 8px;
  right: 8px;

  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Modal Form  */

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  color: #757575;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  top: 35%;
  left: 12px;
  display: block;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-field.margin-modal {
  margin-bottom: 20px;
}

.modal-form-term-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--all-text-color);

  display: flex;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-size: cover;
}

.modal-form-term-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;

  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-right: 10px;
}

.modal-form-term:checked + .modal-form-term-desc::before {
  background-image: url("../images/svg/modal-icon/modal-checkbox-on.svg");
  border: none;
}

.modal-form-term-desc-link {
  color: var(--accent-color);
}

.modal-btn-submit {
  width: 200px;
  height: 50px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
  background-color: var(--accent-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
